<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Venue</title>
</head>

{{if eq .Booked true}}
<h1>Thank you for booking</h1>
<h1>Here are your booking details</h1>
<h2> Date: {{ .Bookform.Date}}</h2>
<h2> Time: {{ .Bookform.Time}}</h2>
<h2> Pax: {{ .Bookform.Pax}}</h2>
<h2><a href="/cMenu">Main Menu</a></h2>

{{else}}

<h1>Welcome to our Venue Booking System</h1>
<h1>Book Venue</h1>
<h3>Enter the following to book a venue</h3>
<form method="post">
    <label for ="date">Date:</label>
    <input type="date" id="date" name="date" required min="2021-06-26">
    <br>
    <br>
    <label for="appt">Select a time:</label>
    <input type="time" id="appt" name="appt">
    <br>
    <br>
    <label for="quantity">Number of Pax:</label>
    <input type="number" id="quantity" name="quantity" min="1" max="5" step="1" value="5">
    <br>
    <br>
    <input type="submit">
</form>

{{end}}
</html>
