<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Table</title>
</head>
<body>

<h1>Add New Table</h1>
<h3>Enter the following details for the new table</h3>
<form method="post">
    <label for ="Seats">Seats:</label>
    <input type="text" name="seats" placeholder="Enter No of Seats"><br>
    <input type="submit">
</form>

</body>
</html>
