<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Main Menu</title>
</head>
<body>
<h1>Welcome to our Venue Booking System</h1>
<h1>Admin Main Menu</h1>
Welcome {{ .Username}}<br>
<h2><a href="/viewTable">View Tables</a></h2>
<h2><a href="/addTable">Add Table</a></h2>
<h2><a href="/editTableInfo">Edit Table</a></h2>
<h2><a href="/deleteTable">Delete Table</a></h2>
<h2><a href="/logout">Log Out</a></h2>
</body>
</html>
