<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Failed</title>
</head>
<body>
<h1>Booking Failed</h1>

<br>
<h2><a href="/booking">Book Now</a></h2>
<br>

<h2><a href="/restaurants"> View Restaurant Listing</a></h2>
<h2><a href="/">Return to Main Page</a></h2>

</body>
</html>