<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Main Menu</title>
</head>
<body>
<h1>Welcome to our Venue Booking System</h1>
<h1>Main Menu</h1>
Welcome {{ .Username}}<br>
<h2><a href="/viewBooking">View Booking</a></h2>
<h2><a href="/createBooking">Create Booking</a></h2>
<h2><a href="/editBooking">Edit Booking</a></h2>
<h2><a href="/deleteBooking">Delete Booking</a></h2>
<h2><a href="/logout">Log Out</a></h2>
</body>
</html>
