<!DOCTYPE html>
<html>
<body>

<h2>Welcome Page</h2><br>
</head>
<body>
<h1>BOOKLAH!</h1>
Welcome User {{.Username}}<br>
{{if eq .Username "admin"}}
<h2><a href="/adminMenu">Admin Menu</a></h2>
{{else}}
<h2><a href="/userMenu">User Menu</a></h2>
{{end}}
<h2><a href="/logout">Log Out</a></h2>
{{else}}
<h2>You are currently either not logged in or need to sign up for an account</h2>
<h2><a href="/signup">Sign Up</a></h2>
<h2><a href="/login">Log in</a></h2>
{{end}}
</body>
</html>

<br><br>
{{if .}}
    <h4>{{.}}</h4>
{{end}}

</body>
</html>

