<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Listing</title>
</head>
<body>
<h1>Welcome to the Restaurants page</h1>

{{if .RestaurantList}}
<h2>List of Restaurants:</h2>

{{if ne .Quantity 0}}
<h2>Filter: {{.Quantity}} Pax</h2>
{{else}}
{{end}}

<ul>
    {{range $key, $val := .RestaurantList}}
    <li>
        RestaurantName: <a href="/restaurants/{{$val.RestaurantName}}">{{$val.RestaurantName}}</a><br>
    </li>
    {{end}}
</ul>

{{else}}
There are no restaurants

{{end}}

<h1>Please enter your number of pax</h1>
<form method="post">
    <label for ="Quantity">Quantity:</label>
    <input type="number" name="Quantity" value={{.Quantity}} min=1 max=10 required><br>
    <input type="submit">
</form>

{{if eq .User.Type "admin"}}
<h2><a href="/restaurants/new">Create New Restaurant</a></h2>
{{else}}
{{end}}

<h2><a href="/">Return to Main Page</a></h2>

</body>
</html>