<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Listing</title>
</head>
<body>
<h1>Welcome to the Restaurants page</h1>

{{if .RestaurantList}}
<h2>List of Restaurants:</h2>

{{if ne .Quantity 0}}
<h2>Filter: {{.Quantity}} Pax</h2>
{{else}}
{{end}}

{{if ne .DietaryP ""}}
<h2>Filter: Dietary Preferance: {{.DietaryP}}</h2>
{{else}}
{{end}}

<ul>
    {{range $key, $val := .RestaurantList}}
    <li>
        RestaurantName: <a href="/restaurants/{{$val.RestaurantName}}">{{$val.RestaurantName}}</a>, 
        {{if le $val.CurrentPax 25}}
        Current Pax: <span style="background-color:#00FF00">{{$val.CurrentPax}}</span>
        {{else if le $val.CurrentPax 40}}
        Current Pax: <span style="background-color:#ffbf00">{{$val.CurrentPax}}</span>
        {{else if le $val.CurrentPax 50}}
        Current Pax: <span style="background-color:#ff0000">{{$val.CurrentPax}}</span>
        {{end}},
        Dietary Info: {{$val.DietaryP}}
    </li>
    {{end}}
</ul>

{{else}}
There are no restaurants

{{end}}

<h1>Search Parameters:</h1>
<form method="post">
    <label for ="Quantity">Pax:</label>
    <input type="number" name="Quantity" value={{.Quantity}} min=1 max=10><br>
    <label for="diet">Dietary Info: </label>
    <select name="diet">
        <option value=""></option>
        <option value="Vegetarian">Vegetarian</option>
        <option value="Halal">Halal</option>
        <option value="No Pork No Lard">No Pork No Lard</option>
        <option value="No Beef">No Beef</option>
        <option value="None">None</option>
    </select>
    <br>

    <input type="submit" value="Start Search">
</form>

{{if eq .User.Type "admin"}}
<h2><a href="/restaurants/new">Create New Restaurant</a></h2>
{{else}}
{{end}}

<h2><a href="/">Return to Main Page</a></h2>

</body>
</html>