<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Listing</title>
</head>
<body>
<h1>Welcome to the Restaurants page</h1>

{{if .RestaurantList}}
<h2>List of Restaurants:</h2>
<ul>
    {{range $key, $val := .RestaurantList}}
    <li>
        RestaurantName: <a href="/restaurants/{{$val.RestaurantName}}">{{$val.RestaurantName}}</a><br>
    </li>
    {{end}}
</ul>

{{else}}
There are no restaurants

{{end}}

{{if eq .User.Type "admin"}}
<h2><a href="/restaurants/new">Create New Restaurant</a></h2>
{{else}}
{{end}}

<h2><a href="/">Return to Main Page</a></h2>

</body>
</html>
