<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
</head>
<body>
<h1>Welcome to {{.Restaurant.RestaurantName}}</h1>

{{if .Restaurant}}
<h2>Restaurant Details:</h2>
Restaurant Name: {{.Restaurant.RestaurantName}}<br>
Current Pax: {{.Restaurant.CurrentPax}}<br>
Dietary Info: {{.Restaurant.DietaryP}}<br>

{{if .Tables}}
<h2>Current Available Tables:</h2>
<ul>
    {{range $key, $val := .Tables}}
    <li>
        TableNumber: {{$val.TableIndex}},
        Seats: {{$val.Seats}}
        Status:
        {{if eq $val.Occupied 0}}
        Available
        {{else}}
        Occupied
        {{end}}
    </li>
    {{end}}
</ul>
<br>

{{else}}
This restaurant has no tables
{{end}}

{{else}}
No restaurant details
{{end}}

<h2><a href="/restaurants/{{.Restaurant.RestaurantName}}/booking">Make a Booking</a></h2>

{{if eq .User.Type "admin"}}
<h2><a href="/restaurants/{{.Restaurant.RestaurantName}}/edit">Edit this Restaurant</a></h2>

{{else}}
{{end}}

<h2><a href="/restaurants">Return to Restaurants Page</a></h2>
<h2><a href="/">Return to Main Page</a></h2>
</body>
</html>
