<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
</head>
<body>
<h1>Welcome to {{.Restaurant.RestaurantName}}</h1>

{{if .Restaurant}}
<h2>Restaurant Details:</h2>
Restaurant Name: {{.Restaurant.RestaurantName}}<br>

{{if .Tables}}
<h2>List of Tables:</h2>
<ul>
    {{range $key, $val := .Tables}}
    <li>
        TableIndex: {{$val.TableIndex}}
        Seats: {{$val.Seats}}
    </li>
    {{end}}
</ul>
<br>

{{else}}
This restaurant has no tables
{{end}}

{{else}}
No restaurant details
{{end}}

{{if eq .User.Type "admin"}}
<h2><a href="/restaurants/{{.Restaurant.RestaurantName}}/edit">Edit this Restaurant</a></h2>

{{else}}
{{end}}

<h2><a href="/restaurants">Return to Restaurants Page</a></h2>
<h2><a href="/">Return to Main Page</a></h2>
</body>
</html>
