<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Restaurant</title>
</head>

 <script type="text/JavaScript">
    var TableIndex = 1;
    function createNewElement() {
        // First create a DIV element.
        var NewTableEntry = document.createElement('div');
        // Then add the content (a new input box) of the element.
        if (TableIndex < 21) {
        var TableName = "table"+ TableIndex.toString();
        var TableNameSeats = TableName + "seats";
        NewTableEntry.innerHTML =
        "<label for ="+TableNameSeats+">"+TableName+" Seats:</label>"+
        "<input type='number' name="+TableNameSeats+" min='1' max='10' required>"+
        "<input type='hidden' name="+TableName+" value="+TableIndex+">";

        // Finally put it where it is supposed to appear.
        document.getElementById("newElementId").appendChild(NewTableEntry);
        TableIndex++;
        }
    }

</script>

<body>

{{if eq .Type "admin"}}
<h1>Create New Restaurant</h1>
<h3>Enter the following details for the new restaurant</h3>

<form method="post">
    <label for ="restaurantname">Restaurant Name:</label>
    <input type="text" name="restaurantname" placeholder="restaurant name" required><br>

    <label for ="currentpax">Current Pax:</label>
    <input type="number" name="currentpax" min = 0 max = 50 required><br>

    <label for="diet">Dietary Info: </label>
    <select name="diet" required>
        <option value="Vegetarian">Vegetarian</option>
        <option value="Halal">Halal</option>
        <option value="No Pork No Lard">No Pork No Lard</option>
        <option value="No Beef">No Beef</option>
        <option value="None">None</option>
    </select>
    <br>

    <div id="dynamictable">
        <input type="button" value="Add Table" onclick="createNewElement();"/>
    </div>
     
    <div id="newElementId">
    </div>

    <input type="submit">
</form>

{{else}}
Only admin accounts can add restaurants
{{end}}

<h2><a href="/restaurants">Return to Restaurants Page</a></h2>
<h2><a href="/">Return to Main Page</a></h2>

</body>
</html>
