<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Restaurant</title>
</head>
<body>

 <script type="text/JavaScript">
    var TableIndex = 1;
    var checker = 1;
    function createNewElement() {
        TableIndex = 1;
        checker = 1;
        {{range $key, $val := .Tables}}
        if ({{$key}} == TableIndex) {
            checker = TableIndex;
        }
        TableIndex++;
        {{end}}

        // First create a DIV element.
        var NewTableEntry = document.createElement('div');
        // Then add the content (a new input box) of the element.
        if (TableIndex < 21) {
        var TableName = "table"+ TableIndex.toString();
        var TableNameSeats = TableName + "seats";
        NewTableEntry.innerHTML =
        "<label for ="+TableNameSeats+">"+TableName+" Seats:</label>"+
        "<input type='number' name="+TableNameSeats+" min='1' max='10' required>"+
        "<input type='hidden' name="+TableName+" value="+TableIndex+">";

        // Finally put it where it is supposed to appear.
        document.getElementById("newElementId").appendChild(NewTableEntry);
        }
    }

</script>

{{if eq .User.Type "admin"}}
<h1>Edit Restaurant</h1>
<h3>Enter the following details for the restaurant</h3>

<form method="post">
    <label for ="restaurantname">Restaurant Name:</label>
    <input type="text" name="restaurantname" placeholder="restaurant name" value={{.Restaurant.RestaurantName}}><br>
    
    <div id="dynamictable">
        <input type="button" value="Add Table" onclick="createNewElement();"/>
    </div>

{{if .Tables}}
    {{range $key, $val := .Tables}}
    <label for ="table{{$val.TableIndex}}seats">Table{{$val.TableIndex}} Seats:</label>
    <input type="number" name="table{{$val.TableIndex}}seats" min='1' max='10' value={{$val.Seats}} required>
    <input type="hidden" name="table{{$val.TableIndex}}" value={{$val.TableIndex}}>
    <br>
    {{end}}

{{else}}
{{end}}
     
    <div id="newElementId">
    </div>
    
    <input type="submit">
    <input type="reset">

</form>

<br>
<form action="/restaurants/{{.Restaurant.RestaurantName}}/delete" onsubmit="return confirm('Are you sure you want to delete?');">
    <input type="submit" value="Delete Restaurant" />
</form>

{{else}}
Only admin accounts are allowed to edit restaurants

{{end}}

<h2><a href="/restaurants">Return to Restaurants Page</a></h2>

</body>
</html>
