<!DOCTYPE html>
<html lang="en">
<head>
<title>Create Account</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
</style>
</head>
<body>

<div class="header">
  <h1>Create New Account</h1>
  <h3>Enter the following to create a new account</h3>
<form method="post">
    <label for ="username">Username:</label>
    <input type="text" name="username" placeholder="username"><br>
    <label for ="password">Password:</label>
    <input type="text" name="password" placeholder="password"><br>
    <input type="submit">
</form>
</div>

</body>
</html>




