<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Booking Successful</title>
</head>
<body>
<h1>Booking Successful</h1>
<h1>Here's your new Booking</h1>
<h2>Username: {{ .Username}}</h2>
<h2>Restaurant: {{ .RestaurantName}}</h2>
<h2>Date: {{ .Date}}</h2>
<h2>Time: {{ .StartTime}}</h2>
<h2>Pax: {{ .Pax}}</h2>
<h2>Table ID: {{ .TableID}}</h2>



<h2><a href="/viewBooking">View Your Bookings</a></h2>
<h2><a href="/">Return to Main Page</a></h2>



</body>
</html>